<div class="container">
   
    <h1>User Registration</h1>
    <form #loginForm="ngForm" (ngSubmit)="add()">
  
        <div >
  
            <label for="name">FirstName</label><br>
  
            <input type="text"   name="name" ngModel required>
  
          
        </div>
  
        <pre></pre>
        <div >
  
          <label for="email">EmailID</label><br>
  
          <input type="email"   name="email"   ngModel required>
  
      </div>
      <pre></pre>
      <div >
  
        <label for="date">date</label><br>
  
        <input type="date"   name="date"  ngModel required>
  
    </div>
    
  
      <div  >
  
          <label for="password">Password</label><br>
  
          <input type="text"   name="password" ngModel required>
  
      </div>
      <pre></pre><div>
  
        <label for="userType"> user Type</label><br>

        <input type="text"  name="userType"  ngModel required  >
       
    </div>
     <pre></pre>
    <div >
  
        <label for="address">address</label><br>

        <input type="text"   name="address"  ngModel required>
         
    </div>
    <pre></pre>
    <pre></pre>

      
    <div>
        <label>
            <input type="radio" value="Male" name='gender' name="gender"  ngModel>
              <span>male</span>
          </label>
          <label>
            <input type="radio" value="Female" name='gender' name="gender" ngModel >
              <span>female</span>
          </label>
    </div>
   
   <!--<p>{{gender}}</p>--> 
   <button type="submit" [disabled]="!loginForm.valid">sign-in</button>
  
  </form>
  <!--<p>
  </div>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <input type="text" name="username" ngModel required>
    <input type="password" name="password" ngModel required>

    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form></p>--> 