<div class="container">
   
    <h1>User Registration</h1>
    <form #loginForm="ngForm" (ngSubmit)="add()">
  
        <div >
  
            <label for="name">FirstName</label><br>
  
            <input type="text"   name="name" ngModel required>
  
          
        </div>
  
        <pre></pre>
        <div >
  
          <label for="email">EmailID</label><br>
  
          <input type="email"   name="email"   ngModel required>
  
      </div>
      <div >
  
        <label for="image">image</label><br>

        <input type="text"   name="image"   ngModel required>

    </div>
      <pre></pre>
      <div >
  
        <label for="date">date</label><br>
  
        <input class="form-group" type="date"   name="date"  ngModel required>
  
    </div>
    
  
      <div  >
  
          <label for="password">Password</label><br>
  
          <input class="form-group" type="text"   name="password" ngModel required>
  
      </div>
      <pre></pre><div>
  
        <label for="userType"> user Type</label><br>

        
        
            <label>
                <input class="form-group" type="radio" value="user" name='userType'  ngModel>
                  <span>user</span>
              </label>
              <label>
                <input type="radio" value="owner" name='userType'  ngModel >
                  <span>owner</span>
              </label>
       
    </div>
     <pre></pre>
    <div >
  
        <label for="address">address</label><br>

        <input type="text"   name="address"  ngModel required>
         
    </div>
    <pre></pre>
    <pre></pre>

      
    <div>
        <label for="gender"> gender</label><br>
        <label>
            <input type="radio" value="Male" name='gender' name="gender"  ngModel>
              <span>male</span>
          </label>
          <label>
            <input type="radio" value="Female" name='gender' name="gender" ngModel >
              <span>female</span>
          </label>
    </div>
   
 
   <button type="submit" [disabled]="!loginForm.valid">sign-in</button>
  
  </form>
 