<div class="container">

    <h1>User Authentification</h1>

    <form  (ngSubmit)="SignIn()" [formGroup]="loginForm">


        <pre></pre>
        <div class="form-group">

          <label for="email">EmailID</label><br>

          <input type="email" class="form-control" formControlName="email"  >
          <span class="text-danger" *ngIf=" loginForm.touched &&
    loginForm.controls['email']
         && loginForm.controls['email'].errors!['required']  ">
          L'email  est obligatoire bro.</span>

      </div>


      <div class="form-group">

          <label for="password">Password</label><br>

          <input type="text" class="form-control" formControlName="password">
    <span class="text-danger" *ngIf=" loginForm.touched &&
    loginForm.controls['password']
         && loginForm.controls['password'].errors!['required']  ">
          Le password est obligatoire frère.</span>
      </div>




      <button  [disabled]="!loginForm.valid" class="btn btn-primary" type="submit"   >logIn</button>

      <button  (click)="sinscire"    class="btn btn-primary" type="submit">sinscire</button>

  </form>

  </div>
